<div class="flex">
  <div class="flex-grow" />
  <div class="flex flex-col">
    <p class="p-4 text-center">
      Press "Start" to add the default admin user <br /> This is a <b>unique action</b>
      that never will happen again!
    </p>
    <.button class="" phx-click="start_setup">Start</.button>
  </div>
  <div class="flex-grow" />
</div>
